<div class="mt32" style="max-width: 1024px; margin: 0 auto;">
    <section class="container bg-gray-lighter oe_screenshot">
        <div class="row oe_spaced">
            <div class="col-md-12">
                <!-- The module's display name can differ from its technical name -->
                <h2 class="oe_slogan" style="color: #FF7E00;">Merge CAMT.054 files with bank statement of CAMT.053</h2>
                <h3 class="oe_slogan">Reduce administrativ work when importing CAMT files</h3>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row oe_spaced">
            <h2 class="oe_slogan" style="color: #FF7E00;">Automatic comparison of batch transaction</h2>
            <div class="col-md-6">
                <img class="oe_picture oe_screenshot" src="screenshot-example.png">
            </div>
            <div class="col-md-6 text-justify">
                <p class="oe_mt32">
                    Merge batch entries of CAMT.052 or CAMT.053 with detail data of CAMT.054
                </p>
                <p class="oe_mt8">
                    By default, importing a CAMT.053 without details and additional CAMT.054 files is a pain in the ass.<br/>
                    This module will replace CAMT.053 summary lines with details from CAMT.054 file so there is no
                    need to manually import two files, reconcile the batch entries of CAMT.053 against a transfer account,
                    import camt.054, add a summary line, reconcile the customer invoices and reconcile summary line against transfer account too.
                </p>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row oe_spaced">
            <h2 class='oe_slogan' style="color: #FF7E00;">Quick Start</h2>
            <div class="col-sm-4">
                <h3 class='oe_slogan'>Installation</h3>
                <div>
                    <p class="oe_mt32">
                        There are no dependencies, so you can simply install the module.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class='oe_slogan'>Configuration</h3>
                <div>
                    <p class="oe_mt32">
                        No configuration required. The features are enabled automatically as soon as the app is installed.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class='oe_slogan'>Usage</h3>
                <div>
                    <p class="oe_mt32">
                        Import CAMT.05x files as see the magic. After every file import the app is searching for batch entries of CAMT.052/CAMT.053
                        and related entries in CAMT.054. When matching entries are found and the amount is equal, the batch line in
                        CAMT.052/053 is replaced by CAMT.054 entries.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="oe_container">
        <div class="oe_mt16 oe_mb16">
            <h2 class="oe_slogan" style="color: #ff7e00;">Need more?</h2>
            <h3 class="oe_slogan">Other available modules</h3>
        </div>
        <div class="oe_slogan">
            <div class="col-sm-4">
                <h4>Module 1</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-sm-4 oe_screenshot">
                <h4>Module 2</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-sm-4">
                <h4>Module 3</h4>
                <p class="text-justify">Some words about the module</p>
            </div>
        </div>
        <div class="clearfix mt16"/>
        <div class="oe_mt16 oe_mb16">
            <h3 class="oe_slogan">Get in Touch!</h3>
        </div>
        <div class="oe_slogan">
            <a href="mailto:support@jamotion.ch"
               class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;">
                <i class="fa fa-envelope"></i> Email
            </a>
            <a href="https://www.jamotion.ch/contact-ext?name=account_pos_box_transfer_account_by_journal"
               class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;"
               target="_blank">
                <i class="fa fa-phone"></i> Contact Us
            </a>
            <a href="https://www.jamotion.ch/request-customization?name=account_pos_box_transfer_account_by_journal"
               class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;"
               target="_blank">
                <i class="fa fa-check-square"></i> Request Customization
            </a>
        </div>
    </section>
</div>